.projects {
    height: 100vh;
    background-color: rgb(52, 51, 80);
    color: white;
    position: relative;
}

.empty-space-for-navbar {
    height: 10vh;
    top: 0;
}

.projects-wrapper {
    display: flex;
    height: 90vh;
}

.in-development {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 35px;
    color: rgb(236, 213, 0);
}

a:link {
    color: rgb(203, 255, 15);
    text-decoration: none;
}

a:visited {
    color: pink;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.prev {
    position: absolute;
    top: 50px + 10vh;
    left: 50%;
    right: 50%;
    width: 40px;
    height: 40px;
    z-index: 99;
}

.next {
    position: absolute;
    bottom: 50px;
    left: 50%;
    right: 50%;
    width: 40px;
    height: 40px;
    z-index: 99;
}

.prev-next-img {
    cursor: pointer;
    max-width: 100%;
    max-height: 100%;
    animation: blink 2.5s linear infinite alternate;
    filter: invert(95%) sepia(0%) saturate(1079%) hue-rotate(187deg) brightness(116%) contrast(69%);
}

@keyframes blink {
    from, to {
        filter: invert(95%) sepia(0%) saturate(1079%) hue-rotate(187deg) brightness(70%) contrast(69%);
    }
    50% {
        filter: invert(61%) sepia(33%) saturate(12%) hue-rotate(15deg) brightness(32%) contrast(89%);
    }
}