.education {
    height: 100vh;
    background-color: rgb(5, 76, 85);
    color: white;
    position: relative;
}

.empty-space-for-navbar {
    height: 10vh;
    top: 0;
}

.education-wrapper {
    display: flex;
    height: 90vh;
}

.education-left {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.education-left-wrapper {
    padding: 8%;
    height: 70%;
    flex-direction: column;
    justify-content: space-between;
}

.education-left-preface {
    font-size: 30px;
    padding-bottom: 20px;
}

.soc-logo {
    width: 75%;
}

.education-left-degree-1 {
    font-size: 30px;
    padding-top: 40px;
}

.education-left-degree-2 {
    white-space: nowrap;
    overflow-x: auto;
}

.education-left-degree-2 h3 {
    font-size: 25px;
    color: rgb(236, 213, 0);
    display: inline-block;
}

.education-left-degree-2 p {
    padding-left: 10px;
    display: inline-block;
    height: 100%;
    font-size: 15px;
    font-style: italic;
    color: white;
}

.education-right {
    flex: 2;
    display: flex;
    align-items: center;
    /*justify-content: center;*/
}

.education-right-wrapper {
    height: 70%;
    flex-direction: column;
    justify-content: space-between;
}

.education-right-preface {
    font-size: 30px;
}

.education-right-spec {
    font-size: 30px;
    padding-top: 40px;
    white-space: nowrap;
    overflow-x: auto;
}

.education-right-spec-no {
    color: rgb(236, 213, 0);
    display: inline-block;
}

.education-right-spec-name {
    padding-left: 40px;
    color: white;
    display: inline-block;
}

.education-right-spec-courses {
    white-space: pre;
    font-size: 15px;
    border-radius: 10px;
    background: rgb(1, 99, 33);
    padding: 12px;
    margin-top: 10px;
    width: 90%;
}

.education-right-spec-award {
    font-style: italic;
    font-size: 13px;
    word-wrap: break-word;
    width: 90%;
}

a:link {
    color: rgb(203, 255, 15);
    text-decoration: none;
}

a:visited {
    color: pink;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.prev {
    position: absolute;
    top: 50px + 10vh;
    left: 50%;
    right: 50%;
    width: 40px;
    height: 40px;
    z-index: 99;
}

.next {
    position: absolute;
    bottom: 50px;
    left: 50%;
    right: 50%;
    width: 40px;
    height: 40px;
    z-index: 99;
}

.prev-next-img {
    cursor: pointer;
    max-width: 100%;
    max-height: 100%;
    animation: blink 2.5s linear infinite alternate;
    filter: invert(95%) sepia(0%) saturate(1079%) hue-rotate(187deg) brightness(116%) contrast(69%);
}

@keyframes blink {
    from, to {
        filter: invert(95%) sepia(0%) saturate(1079%) hue-rotate(187deg) brightness(70%) contrast(69%);
    }
    50% {
        filter: invert(61%) sepia(33%) saturate(12%) hue-rotate(15deg) brightness(32%) contrast(89%);
    }
}