.career {
    height: 100vh;
    background-color: rgb(107, 22, 22);
    color: white;
    position: relative;
}

.empty-space-for-navbar {
    height: 10vh;
    top: 0;
}

.career-wrapper {
    display: flex;
    height: 90vh;
}

.in-development {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4vh;
    color: rgb(236, 213, 0);
}

a:link {
    color: rgb(203, 255, 15);
    text-decoration: none;
}

a:visited {
    color: pink;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
